build==1.2.1; python_version >= '3.8'
flake8==7.1.0; python_full_version >= '3.8.1'
flake8-commas==4.0.0; python_version >= '3.8'
importlib-metadata==8.2.0; python_version >= '3.8'
mccabe==0.7.0; python_version >= '3.6'
mypy==1.11.1; python_version >= '3.8'
mypy-extensions==1.0.0; python_version >= '3.5'
packaging==24.1; python_version >= '3.8'
platformdirs==4.2.2; python_version >= '3.8'
pycodestyle==2.12.0; python_version >= '3.8'
pyflakes==3.2.0; python_version >= '3.8'
pyproject-hooks==1.1.0; python_version >= '3.7'
tomli==2.0.1; python_version >= '3.7'
typing-extensions==4.12.2; python_version >= '3.8'
yapf==0.40.2; python_version >= '3.7'
zipp==3.19.2; python_version >= '3.8'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
certifi==2024.7.4; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
idna==3.7; python_version >= '3.5'
requests==2.32.3; python_version >= '3.8'
soupsieve==2.5; python_version >= '3.8'
urllib3==2.2.2; python_version >= '3.8'
